.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 14px;
  border: 2px solid #CFD0D4;
  box-shadow: 0 8px 12px rgba(0,0,0,0.3);
  margin-top: 20px;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #27566C;
  margin-bottom: 20px;
  margin-top: 0;
}

.label {
  color: #27566C;
  margin-bottom: 8px;
  font-weight: 500;
}

.pill {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  border-radius: 12px;
  border: 2px dashed #9FC3D6;
  background-color: #E6F2F8;
  margin-bottom: 15px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #135377;
  border-radius: 50%;
}

.arrow {
  text-align: center;
  font-size: 20px;
  color: #27566C;
  margin: 10px 0;
}

.match {
  border-color: green;
  background-color: rgba(0, 128, 0, 0.3);
}

.mismatch {
  border-color: rgb(233, 62, 62);
  background-color: rgba(228, 62, 62, 0.3);
}